<script>
    
    import Door from './components/Door.svelte';
    import Room from './components/Room.svelte';
    import Router from './routes/index.svelte';
    import * as config from './settings.json';



    let run;

    function open_chat_gate() {

        let chatGate = document.getElementById('gate');
        let chatDoor = document.getElementById('door');
        let chatRoom = document.getElementById('room');

        if (config.welcome_popup_on) {
            if (chatDoor.style.display === 'block') {
                chatGate.className = 'bi bi-robot';
                chatDoor.style.display = 'none';
            } else if (chatRoom.style.display === 'block' && chatDoor.style.display === 'none') {
                chatGate.className = 'bi bi-robot';
                chatRoom.style.display = 'none';       
            } else {
                chatGate.className = 'bi bi-x-lg';
                chatDoor.style.display = 'block';
            }
        };

        if (!config.welcome_popup_on) {
            if (chatRoom.style.display === 'block') {
                chatGate.className = 'bi bi-robot';
                chatRoom.style.display = 'none';  
            } else {
                run.delay_welcome_message(); 
                chatGate.className = 'bi bi-x-lg';
                chatRoom.style.display = 'block';               
            }
        };

    }

</script>

<Router />

<main>

    {#if config.welcome_popup_on}
        <Door />
    {:else}
        <Room bind:this = { run }/>
    {/if}

    <div on:click = { open_chat_gate }>
        <div class = "gate-btn">
            <i class = "bi bi-robot" id = "gate"></i>
        </div>
    </div>

</main>

<style>

    .gate-btn {
        width: 70px;
        height: 70px;
        border-radius: 50%;
        background-color: #0890E2;
        cursor: pointer;
        padding: 9px 20px;
        margin: 0 auto;
        margin-top: 30px;
        position: fixed;
        bottom: 30px;
        right: 35px;
    }

    .gate-btn {
        animation-name: chameleon-effect;
        animation-duration: 1s;
        animation-iteration-count: infinite;
    }

    @keyframes chameleon-effect {
        0% {
            background-color: #0890E2;
        }
        25% {
            background-color: #0838E2;
        }
        50% {
            background-color: #1E08E2;
        }
        75% {
            background-color: #5908E2;
        }
        100% {
            background-color: #0890E2;
        }
    }

    :global(.gate-btn i) {
        font-size: 2rem;
        color: #FFF;
    }

</style>



