<script>

    import Room from '../components/Room.svelte';



    let run;
    let doorLock;

    function start_chat() {

        let chatDoor = document.getElementById('door');
        let chatRoom = document.getElementById('room');

        if (chatDoor.style.display === 'block') {
            chatDoor.style.display = 'none';
            chatRoom.style.display = 'block';
        } 

        run.delay_welcome_message();
        doorLock.textContent = 'Resume the conversation';

    }

</script>


<div class = "chat-door" id = "door">
    
    <div class = "door-header mt-3">
        <h4> Welcome to qary </h4>
        <p>
            An open source chatbot assistant that truly assists, rather than selling you something.
        </p>
    </div>
    
    <div class = "door-content mt-5">
        <form>
            <button type = "button" class = "w-100" on:click = { start_chat }>
                <span><i class = "bi bi-chat-square-text-fill"></i></span>
                <span bind:this = { doorLock }> Start a conversation </span>
            </button>
        </form>
    </div>
    
    <div class = "door-footer mt-5">
        <small> Maintained by Tangible AI </small>
    </div>

</div>

<Room bind:this = { run }/>


<style>

    .chat-door {
        width:  400px;
        height: 370px;
        padding: 25px;
        background-color: #F7F7F9;
        text-align: center;
        font-family: 'Ubuntu', sans-serif;
        border-radius: 10px;
        margin: 0 auto;
        margin-top: 150px;
        box-shadow: 0px 10px 5px rgba(0, 0, 0, 0.1);
        position: fixed;
        bottom: 120px;
        right: 15px;
        display: none;
    }

    .chat-door {
        animation: popup 0.5s;
    }

    @keyframes popup {
        from {
            bottom: 100px;
            opacity:0} 
        to {
            bottom:130px;
            opacity:1
        }
    }

    .chat-door .door-header p {
        font-size: 15px;
        margin-top: 30px;
    }

    .chat-door .door-content button {
        background-color: #0890E2;
        padding: 15px;
        color: #FFF;
        font-weight: bolder;
        border-style: none;
        border-radius: 5px;
    }

    .chat-door .door-content button span {
        margin-right: 10px;
    }


    @media screen and (max-width: 384px) {

        .chat-door {
            width: calc(100vw - 30px);
        }

    }

</style>